.project
.classpath
.settings/
.groovy/
.idea/

target/

*.pyc

Logs/*

node_modules/

*.local

.pylintrc
.vscode/

app/__pycache__
app/env
app/src/__pycache__
app/src/.env
app/src/responses

workflows

.env

root/Jts/*